.phone {
    background-color: #fd556d;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 46px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    
    &__title {
        color: white;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: $fonttext;
        
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
        font-family: $fonttext;
        
    }

    &__number {
        height: 59px;
        width: 340px;
        margin-top: 8px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: white;
        background-color: #ee4860;
        border-radius: 19px;
        line-height: 59px;
        font-family: $fonttext;
    }
}

@media screen and (max-width: 991px) {
    .phone__content{
        flex-direction: column;
    }
    .phone__number{
        margin-top: 30px;
    }

}

@media screen and (max-width: 768px) {
    .phone__title{
        font-size: 30px;
    }

    .phone__number {
        font-size: 24px;
        width: 250px;
    }
}
