.phone {
    background-color: #fd556d;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 46px;
}

.phone__title {
    color: white;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone__text {
    font-size: 14px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    
}

.phone__number {
    height: 59px;
    padding-left: 24px;
    padding-right: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    background-color: #ee4860;
    border-radius: 19px;
    line-height: 59px;
}





