.services {
    background-color: white;
}

.services__section {
    padding-top: 100px;
    text-align: center;
}
    
.services__section-subtitle {
    font-size: 16px;
    font-family: montserrat,sans-serif;
    color: #a6abb2;
    font-weight: 500;
    letter-spacing: 1px;
}
    
.services__section-title{
    color: #404040;
    h2 {
    font-size: 48px;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    }
}

.services__icon {
    width: 62px;
    height: 62px;
    background-color: $primarycolor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.services__icon-svg {
    width: 31px;
    height: 31px;
}

.services__title {
    font-size: 20px;
    font-weight: 500;
    color: #404040;
    line-height: 1.2;
    margin-top: 17px;
    letter-spacing: 1px;
    text-align: center;
}

.services__text {
    color: #828282;
    font-size: 14px;
    line-height: 2.4;
    font-weight: 500;
    font-family: montserrat,sans-serif;
    margin-top: 30px;
    text-align: center;
}

.services__row {
    margin-top: 68px;
    margin-bottom: 60px;
}
